<template>
    <div class="row stockContainer">
        <Stock v-for="(item, index) in stocks" :key="index" :stock="item"></Stock>
    </div>   
</template>
<script>
import Stock from "./stock";
export default {
  components: {
      Stock
  },
  created() {
  },
  data() {
    return {
    };
  },
  computed: {
      stocks() {
          return this.$store.getters.stocks;
      }
  }
};
</script>
<style scoped>
 .stockContainer {
     padding: 30px;
 }
</style>