<template>
  <div class="col-md-4 col-sm-6 mt-3">
    <div class="card">
      <div class="card-header" :class="{'alert-danger': insufficientFund, 'alert-success': !insufficientFund}">{{stock.name}} <small>(Price: {{stock.price}})</small>
        <span class="float-right" v-if="insufficientFund">Insufficient Fund</span>
      </div>
      <div class="card-body ">
        <div class="float-left">
            <input type="number" class="form-control" placeholder="Quantity" v-model.number="quantity" :class="{danger: insufficientFund}">
        </div>
        <div class="float-right">
           <button @click="buyStock" class="btn" :class="{'btn-danger': insufficientFund, 'btn-success': !insufficientFund}" :disabled="insufficientFund || quantity <=0 || !Number.isInteger(quantity)">
             Buy
            </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    props: ['stock'],
    data() {
        return {
            quantity: 0
        }
    },
    methods: {
        buyStock() {
            const order = { 
                stockId: this.stock.id,
                quantity: this.quantity,
                price: this.stock.price
            };
            this.$store.dispatch('buyStocks',order);
            this.quantity = 0;
        }
    },
    computed: {
      funds() {
        return this.$store.getters.funds;
      },
      insufficientFund() {
        return (this.quantity * this.stock.price) > this.funds;
      }
    }
}
</script>
<style scoped>
.danger {
  border: 1px solid red;
}
</style>