<template>
  <div class="row stockContainer">
    <Stock v-for="(item, index) in stocks" :key="index" :stock="item"></Stock>
  </div>
</template>
<script>
import Stock from "./stock";
import { mapGetters } from "vuex";
export default {
  components: {
    Stock
  },
  computed: {
    ...mapGetters({
      stocks: "stockPortfolio"
    })
  }
};
</script>
<style scoped>
 .stockContainer {
     padding: 30px;
 }
</style>