<template>
  <div class="col-md-4 col-sm-6 mt-3">
    <div class="card">
      <div class="card-header" :class="{'alert-danger': insufficientStock,'alert-info': !insufficientStock}">
        {{stock.name}}
        <small>(Price: {{stock.price}}) | Quantity: {{stock.quantity}}</small>
        <span class="float-right" v-if="insufficientStock">Insufficient Quantity</span>
      </div>
      <div class="card-body">
        <div class="float-left">
          <input
            type="number"
            class="form-control"
            placeholder="Quantity"
            v-model.number="quantity"
            :class="{danger: insufficientStock}"
          />
        </div>
        <div class="float-right">
          <button
            @click="sellStocks"
            class="btn"
            :class="{'btn-info':!insufficientStock, 'btn-danger':insufficientStock}"
            :disabled="insufficientStock || quantity <=0 || !Number.isInteger(quantity)"
          >Sell</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  props: ["stock"],
  data() {
    return {
      quantity: 0
    };
  },
  methods: {
    ...mapActions(["sellStock"]),
    sellStocks() {
      const order = {
        stockId: this.stock.id,
        quantity: this.quantity,
        price: this.stock.price
      };
      this.sellStock(order);
      this.quantity = 0;
    }
  },
  computed: {
    insufficientStock() {
      return this.quantity > this.stock.quantity;
    }
  }
};
</script>
<style scoped>
.danger {
  border: 1px solid red;
}
</style>