<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <router-link to="/home"><a class="navbar-brand" v-if="isAuth">Stock Trader</a></router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item"  v-if="isAuth">
            <router-link to="/portfolio" class="nav-item nav-link">Portfolio</router-link>
        </li>
        <li class="nav-item"  v-if="isAuth">
         <router-link to="/stock" class="nav-item nav-link">Stocks</router-link>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"  v-if="isAuth">
          <a class="endDay" @click="endDay">End Day</a>
        </li>
        <li class="nav-item dropdown" :class="{'show': showDropDown}"  v-if="isAuth">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            @click="showDropDown=!showDropDown"
          >Save & Load</a>
          <div class="dropdown-menu" :class="{'show': showDropDown}">
            <a class="dropdown-item" @click="saveData">Save Data</a>
            <a class="dropdown-item" @click="loadDatas">Load Data</a>
          </div>
        </li>
        <li class="nav-item dropdown"  v-if="isAuth">
         <span class="funds"><strong>Funds: {{fund | currency}}</strong></span>
        </li>
         <li class="nav-item"  v-if="isAuth">
            <a class="endDay" @click="logOut">Logout</a>
        </li>
        <li class="nav-item"  v-if="!isAuth">
            <router-link to="/" class="nav-item nav-link">Login</router-link>
        </li>
         <li class="nav-item"  v-if="!isAuth">
            <router-link to="/signUp" class="nav-item nav-link">SignUp</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
import { mapActions } from 'vuex';
import axios from 'axios';
export default {
  data() {
    return {
      showDropDown: false
    }
  },
  methods: {
    ...mapActions({
      randStock: 'randStock',
      fetchData: 'loadData'
    }),
    endDay() {
      this.randStock();
    },
    logOut() {
      this.$store.dispatch('logOut');
    },
    saveData() {
      const data = {
        funds: this.fund,
        stocks: this.$store.getters.stocks,
        stockPortfolio: this.$store.getters.stockPortfolio
      }
      // this.$http.put('data.json', data);
      if(this.userDetails.token)
      {
        axios.put('data.json' + '?auth='+ this.userDetails.token, data) 
      } 
    },
    loadDatas() {
      this.fetchData();
    }
  },
  computed: {
    fund() {
      return this.$store.getters.funds;
    },
    userDetails() {
      return this.$store.getters.user;
    },
    isAuth() {
      return this.$store.getters.isAuth;
    }
  }
}
</script>
<style>
body {
  padding: 30px;
}
.endDay {
  padding-top: 0.5rem;
  cursor: pointer;
  display: block;
}
.funds {
  padding-top: 0.5rem;
  display: block;
}
.dropdown {
  padding-right: 10px;  
}
.dropdown,.dropdown-item {
  cursor: pointer;
}
</style>