<template>
    <div>
        <h1>View Your Portfolio</h1>
        <h6>click on 'End Day' to begin New Day</h6>
        <hr>
        <p>Funds: {{fund | currency}}</p>
    </div>
</template>
<script>
export default {
    computed: {
        fund() {
            return this.$store.getters.funds;
        }
    }
}
</script>