<template>
  <div class="signUpContainer">
    <div class="card">
      <div class="card-heading alert-info">Login</div>
      <form @submit.prevent="submit" style="margin: 0 auto">
        <div class="card-body">
          <div class="formControl">
            <input
              type="text"
              class="form-control"
              :class="{'error' : $v.user.email.$error}"
              @input="$v.user.email.$touch"
              name="email"
              v-model="user.email"
              placeholder="username"
            />
            <p class="warnings" v-if="!$v.user.email.email">Please Provide a Valid Email Address</p>
          </div>
          <div class="formControl">
            <input
              type="password"
              class="form-control"
              :class="{'error' : $v.user.pwd.$error}"
              @input="$v.user.pwd.$touch"
              name="pwd"
              v-model="user.pwd"
              placeholder="password"
            />
            <p class="warnings" v-if="!$v.user.pwd.min">Password must have a length of 6</p>
          </div>
          <div>
            <button class="btn btn-info" type="submit" :disabled="$v.user.$invalid">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      user: {
        email: "",
        pwd: ""
      }
    };
  },
  validations: {
    user: {
      email: { required, email },
      pwd: { required, min: minLength(6) }
    }
  },
  methods: {
    submit() {
      if (this.$v.user.$error) {
        return;
      }
      const params = {
        email: this.user.email,
        password: this.user.pwd,
        returnSecureToken: true
      };
      this.$store.dispatch("signIn", params);
    }
  }
};
</script>
<style scoped>
.warnings {
  color: red;
}
.error {
  border: 1px solid red;
}
.signUpContainer {
  /* padding: 30px; */
}
.formControl {
  width: 350px;
  margin-bottom: 10px;
}
.card-body {
  margin: 0 auto;
}
.card {
  min-width: 400px;
}
</style>