<template>
  <div class="signUpContainer">
    <form style="margin: 0 auto">
      <div class="card">
        <div class="card-heading alert-info">Sign Up</div>
        <div class="card-body">
          <div class="formControl">
            <input
              type="text"
              class="form-control"
              @input="$v.user.email.$touch"
              name="email"
              v-model="user.email"
              placeholder="username"
              :class="{'error' : $v.user.email.$error}"
            />
            <p class="warnings" v-if="!$v.user.email.email">Please Provide a Valid Email Address</p>
          </div>
          <div class="formControl">
            <input
              type="password"
              @input="$v.user.pwd.$touch"
              :class="{'error' : $v.user.pwd.$error}"
              class="form-control"
              name="pwd"
              v-model="user.pwd"
              placeholder="password"
            />
            <p class="warnings" v-if="!$v.user.pwd.min">Password must have a length of 6</p>
          </div>
          <div class="formControl">
            <input
              type="password"
              class="form-control"
              :class="{'error' : $v.user.confPwd.$error}"
              @input="$v.user.confPwd.$touch"
              v-model="user.confPwd"
              name="confpwd"
              placeholder="Confirm Password"
            />
            <p
              class="warnings"
              v-if="!$v.user.confPwd.sameAs && $v.user.confPwd.$dirty"
            >Confirm passowrd must be same as Password</p>
          </div>
          <div>
            <button class="btn btn-info" type="submit" :disabled="$v.user.$invalid">SignUp</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      user: {
        email: "",
        pwd: "",
        confPwd: ""
      }
    };
  },
  validations: {
    user: {
      email: { required, email },
      pwd: { required, min: minLength(6) },
      confPwd: {
        sameAs: sameAs(vm => vm.pwd)
      }
    }
  },
  methods: {
    submit() {
      if (this.$v.user.$error) {
        return;
      } else {
        const params = {
          email: this.user.email,
          password: this.user.pwd,
          returnSecureToken: true
        };
        this.$store.dispatch("signUp", params);
      }
    }
  }
};
</script>
<style scoped>
.warnings {
  color: red;
}
.error {
  border: 1px solid red;
}
.signUpContainer {
  /* padding: 30px; */
}
.formControl {
  width: 350px;
  margin-bottom: 10px;
}
.card-body {
  margin: 0 auto;
}
.card {
  min-width: 400px;
}
</style>