<template>
<div class="container">
  <Header></Header>
  <div>
      <transition name="slide" mode="out-in">
        <router-view></router-view>
      </transition>
  </div>
</div>

</template>

<script>
import Header from './components/header.vue';
import { eventBus }from './main';
export default {
  components: {
    Header
  },
  created() {
    eventBus.$on('redirect', this.redirectURL);
    this.$store.dispatch('autoLogin');
    this.$store.dispatch('initStock');
  },
  methods: {
    redirectURL(path) {
      this.$router.push(path);
    }
  }
}
</script>
<style scoped>
  .slide-enter-active {
    animation: slide-in 200ms ease-out forwards;
  }
  .slide-oout-active {
    animation: slide-out 200ms ease-out forwards;
  }
  @keyframes slide-in {
    from {
      transform: translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-30px);
      opacity: 0;
    }
  }
</style>